torch==1.10.0
torchvision==0.11.1
mmcv==1.7.0
setuptools==59.5.0
numpy
scipy
imageio-ffmpeg
imageio
opencv-python
torch_efficient_distloss
tqdm 
scikit-image 
configargparse 
lpips  
kornia 
tensorboard
plyfile
Ninja
torch_scatter
einops
matplotlib